@import "tailwindcss";

:root {
  --marmaq-blue-light: #31A7D4;
  --marmaq-blue-dark: #092139;
  --marmaq-blue-medium: #1a4a6e;
  --marmaq-orange: #D57828;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
}
